mixin header-text(cfg = {})
  -
    var {
      titleLevel = 'h2',
      title,
      subtitle,
      text
    } = cfg;

  .header-text&attributes(attributes)
    span.header-text__subtitle= subtitle
    #{titleLevel}.header-text__title= title
    if text
      p.header-text__text= text
