mixin menu(isMobileVersion)
  -
    var menu = [
      { link: '#', text: 'Home' },
      { link: '#', text: 'Why MISOCIAL' },
      { link: '#', text: 'Features' },
      { link: '#', text: 'Articles' },
      { link: '#', text: 'Pricing' },
      { link: '#', text: 'Get Started', class: 'menu__link_type_button' },
    ];

    if (isMobileVersion) {
      attributes['data-js'] = 'mobile-menu';
    }

  ul.menu&attributes(attributes)
    if isMobileVersion
      li.menu__item
        button.menu__link.menu__link_type_close(data-js='close-menu')
          i.fa.fa-times
    each item in menu
      li.menu__item
        a.menu__link(href=item.link class=item.class data-js='menu-link')= item.text
