mixin social-links()
  -
    var socials = [
      { link: '#', type: 'facebook' },
      { link: '#', type: 'twitter' },
      { link: '#', type: 'google-plus' },
      { link: '#', type: 'instagram' },
    ];

  .social-links&attributes(attributes)
    each item in socials
      a.social-links__link(href=item.link)
        i.fa(class=`fa-${item.type}`)
