mixin social-links()
  .social-links
    a.social-links__link(href="#")
      i.fa.fa-facebook
    a.social-links__link(href="#")
      i.fa.fa-twitter
    a.social-links__link(href="#")
      i.fa.fa-google-plus
    a.social-links__link(href="#")
      i.fa.fa-instagram