extends ../layout/main
include ../blocks/menu

block title
  | Pricing

block body
  +menu(true)(class='menu_theme_light menu_platform_mobile')
  .main
    header.main-header
      .logo
        img(src="img/logo.png" alt="Misocial")
      a(href="#" class="m-menu-link")
        i.fa.fa-bars
      .visible-lg
        +menu()(class='menu_theme_light')
    .main-text
      span.subtitle Social marketing & analytics
      h1 Pricing Table
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis nisi harum aliquid sint deserunt.
    .main-arrow
      a(href="#pricing" class="arrow-down")
        img(src="img/down-arrow.png" alt="v")
      
  a(name="pricing")
  .pricing
    .pricing-header
      span.subtitle Misocial
      h2 Select a Plan
      p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis architecto amet alias quisquam tempore.
    .pricing-cards
      .card
        img(src="img/first-card-cover.png" alt="first card")
        span.tariff Personal
        .price
          span.currency $
          span.value 0
          | /month
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo fuga consectetur voluptatibus corporis
          | voluptates ipsam mollitia aliquid est vitae distinctio reiciendis, ab veniam.
        button Select plan
      .card
        img(src="img/second-card-cover.png" alt="first card")
        span.tariff Personal
        .price
          span.currency $
          span.value 29
          | /month
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo fuga consectetur voluptatibus corporis
          | voluptates ipsam mollitia aliquid est vitae distinctio reiciendis, ab veniam.
        button Select plan
      .card
        img(src="img/second-card-cover.png" alt="first card")
        span.tariff Personal
        .price
          span.currency $
          span.value 49
          | /month
        p
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo fuga consectetur voluptatibus corporis
          | voluptates ipsam mollitia aliquid est vitae distinctio reiciendis, ab veniam.
        button Select plan

  .call-to-action
    span socal marketing & analytics
    h4 Take control of your data
    button Get started
    button Explore features

  .footer-wrap
    .footer
      .row
        .logo
          img(src="img/logo-black.png" alt="Misocial")
        .footer-menu
          +menu()(class="menu_theme_dark")
      .line
      .row
        p.copy © 2017 Mass Impressions & Tranmautritam. Make the right impression.
        .social-links
          a(href="#")
            i.fa.fa-facebook
          a(href="#")
            i.fa.fa-twitter
          a(href="#")
            i.fa.fa-google-plus
          a(href="#")
            i.fa.fa-instagram