extends ../layout/main
include ../blocks/menu
include ../blocks/header-text
include ../blocks/card
include ../blocks/social-links
include ../blocks/footer

block title
  | Pricing

block body
  +menu(true).menu_theme_light.menu_platform_mobile
  .main
    header.main__header
      .main__logo
        img(src='img/logo.png' alt='Misocial')
      a.main__menu-link(href='#')
        i.fa.fa-bars
      .main__menu-wrapper
        +menu().menu_theme_light
    +header-text({
      titleLevel: 'h1',
      title: 'Pricing Table',
      subtitle: 'Social marketing & analytics',
      text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis nisi harum aliquid sint deserunt.'
    })
    .main__arrow
      a.main__arrow_type_down(href='#pricing')
        img(src='img/down-arrow.png' alt='v')

  a(name='pricing')
  .pricing
    +header-text({
      title: 'Select a Plan',
      subtitle: 'Misocial',
      text: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Omnis nisi harum aliquid sint deserunt.'
    }).pricing__header.header-text_theme_dark
    .pricing__cards
      +card(
        "img/first-card-cover.png",
        "Personal card",
        "Personal",
        "$",
        0,
        "month",
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo fuga consectetur voluptatibus corporis voluptates ipsam mollitia aliquid est vitae distinctio reiciendis, ab veniam.",
        "Select plan"
      )
      +card(
        "img/second-card-cover.png",
        "Personal card",
        "Personal",
        "$",
        29,
        "month",
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo fuga consectetur voluptatibus corporis voluptates ipsam mollitia aliquid est vitae distinctio reiciendis, ab veniam.",
        "Select plan"
      )
      +card(
        "img/third-card-cover.png",
        "Personal card",
        "Personal",
        "$",
        49,
        "month",
        "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum illo fuga consectetur voluptatibus corporis voluptates ipsam mollitia aliquid est vitae distinctio reiciendis, ab veniam.",
        "Select plan"
      )

  .call-to-action
    +header-text({
      titleLevel: 'h4',
      title: 'Take control of your data',
      subtitle: 'socal marketing & analytics'
    })
    button.call-to-action__button Get started
    button.call-to-action__button Explore features

  +footer()
