extends ../layouts/main
include ../blocks/menu
include ../blocks/main
include ../blocks/pricing
include ../blocks/call-to-action
include ../blocks/footer

block title
  | Pricing

block body
  +menu(true).menu_theme_light.menu_platform_mobile
  .page
    .content
      +main()
      a(name='pricing')
      +pricing()
      +call-to-action()
    +footer()
