.call-to-action
  padding 18rem
  color #fff
  text-align center
  background-image linear-gradient(
    -50deg,
    rgb(136, 211, 206) 0%,
    rgb(110, 69, 226) 100%
  )
  &__button
    buttonWithShadow()
    width 19rem
    height 5rem
    margin 1rem
    &:hover
      background bg-purple
      color #fff
      border-color bg-purple
