@import "../common/variables.styl"

.footer
  display flex
  justify-content center
  .row
    height 15vh
  &__wrapper
    width 90%
  &__menu
    width 60%
  &__copy
    font-size 1.4rem
    color text-gray-color

  @media (max-width 991px)
    margin-bottom 2rem
    &__menu
      display none
    .row
      justify-content space-around
      flex-direction column
      height 20vh
    .social-links__link
      font-size 2.6rem
