@import "../common/variables.styl"

.footer
  display flex
  justify-content center
  .row
    height 15vh
  &__wrapper 
    width 90%
  &__menu
    width 60%
  &__copy 
    font-size 1.4rem
    color text-gray-color