@import "../common/variables.styl"

.pricing
  background bg-gray
  padding 12rem
  &__header
    margin-bottom 10rem
    .header-text__title
      color #4f4f6f
      font-size 6rem
      margin 0
    .subtitle
      color #9fa4af
      &::before,
      &::after
        background bg-purple
    .header-text__text
      color #b6bac2