.subtitle
  display inline-block
  text-transform uppercase
  font-size 1.4rem

.subtitle::before,
.subtitle::after
  content ''
  height 1px
  background #fff
  width 30px
  display inline-block
  vertical-align middle

.subtitle::before
  margin-right 15px

.subtitle::after
  margin-left 15px