button() {
  font-size 1.2rem
  border 0
  padding 10px 20px
  border-radius 100px
  text-transform uppercase
  color btn-color
  background btn-bg-color
  transition all 0.3s
}

buttonWithShadow() {
  button()
  border 1px solid btn-color
  box-shadow 0px 0px 18.69px 2.31px rgba(204, 204, 223, 0.5)
}

decorate()
  &
    display inline-block

  &::before
  &::after
    content ''
    height 1px
    background decorate-light-color
    width 30px
    display inline-block
    vertical-align middle

  &::before
    margin-right 15px

  &::after
    margin-left 15px
