menu-dark-color =#6a6a77
menu-light-color = #fff
text-gray-color = #b4b4bb
text-dark-color = #b6bac2
title-dark-color = #4f4f6f
decorate-light-color = #fff
decorate-dark-color = #9fa4af
bg-purple = #6e45e2
bg-gray = #f9fafc
btn-color = #c2c9db
btn-bg-color = #fff

// all z-index properties must be here
main-popup-menu-z-index = 1001
