/*

fonts generate on https://www.fontsquirrel.com/tools/webfont-generator via Expert mode

font-weight values:
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)

*/

@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/mavenpro/mavenpro-regular-webfont.eot');
  src: url('../fonts/mavenpro/mavenpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro/mavenpro-regular-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro/mavenpro-regular-webfont.woff') format('woff'),
    url('../fonts/mavenpro/mavenpro-regular-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro/mavenpro-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/mavenpro/mavenpro-medium-webfont.eot');
  src: url('../fonts/mavenpro/mavenpro-medium-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro/mavenpro-medium-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro/mavenpro-medium-webfont.woff') format('woff'),
    url('../fonts/mavenpro/mavenpro-medium-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro/mavenpro-medium-webfont.svg') format('svg');
  font-weight: medium;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/mavenpro/mavenpro-bold-webfont.eot');
  src: url('../fonts/mavenpro/mavenpro-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro/mavenpro-bold-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro/mavenpro-bold-webfont.woff') format('woff'),
    url('../fonts/mavenpro/mavenpro-bold-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro/mavenpro-bold-webfont.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('../fonts/mavenpro/mavenpro-black-webfont.eot');
  src: url('../fonts/mavenpro/mavenpro-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/mavenpro/mavenpro-black-webfont.woff2') format('woff2'),
    url('../fonts/mavenpro/mavenpro-black-webfont.woff') format('woff'),
    url('../fonts/mavenpro/mavenpro-black-webfont.ttf') format('truetype'),
    url('../fonts/mavenpro/mavenpro-black-webfont.svg') format('svg');
  font-weight: black;
  font-style: normal;
}
