doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')
    //- vendor
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
    //- link(rel='stylesheet' href='vendor/font-awesome.min.css')
    script(src='scripts/vendor.bundle.js' defer='defer')
    //- internal
    link(rel='stylesheet' href='css/app.css')
    script(src='scripts/app.bundle.js' defer='defer')
    title
      block title
  body
    block body
